<div id="content">
  <h1>Book a Table</h1>
  <h3><%= @booking.restaurant.name%></h3>
  <p><%= @booking.restaurant.location%></p>
  <p><%= @booking.restaurant.website%>
  </div>
<div id="form">
<%= form_for [@booking.restaurant, @booking] do |f| %>
  <%= f.date_field :booking_date %>
  <%= f.time_field :booking_time %>
  <%= f.number_field :booking_size %>
  <%= f.submit "Book a Table"%>

  <% end %>

  </div>