
<div class="container">
<br>
<h3>Hello <%=@user.first_name%>!</h3><br>

<% if !@user.admin? %>

<h4> Here are your upcoming table bookings:</h4>
  <ul>
  <% @user.bookings.each do |b|%>
    <li> <strong><%= b.restaurant.name %></strong></li>
    <p>Booking date: <%= b.booking_date %></p>
    <p>Booking time: <%= b.booking_time.strftime("%H:%M")%><br></p>
    <p>For <%= b.booking_size %> </p>
  <% end %>
</ul>

<%= link_to "Discover Restaurants in the city", restaurants_path %>

<% else %>

<h4> Here are all your restaurants </h4>

  <ul>
  <% @user.restaurants.each do |r|%>
    <li><%= link_to "#{r.name}", restaurant_path(r) %></li>

    <% end %>
  <% %>

<%= link_to "Create a new Restaurant", new_restaurant_path %>

<% end %>

</div>