
<div class="container">
<br>
<h3>Hello <%=@user.first_name%>!</h3><br>

<% if !@user.admin? %>

<h4> Here are your upcoming table bookings:</h4>
  <table>
    <tr>
      <th>Restaurant</th>
      <th>Date</th>
      <th>Time</th>
      <th>Party of</th>
    </tr>
  <% @user.bookings.each do |b|%>
    <tr> 
      <td><%= b.restaurant.name %></td>
      <td><%= b.booking_date.strftime("%B %e") %></td>
      <td><%= b.booking_time.strftime("%I:%M %p")%></td>
      <td><%= b.booking_size %> people </td>
    
    </tr>
  <% end %>
</table>

<%= link_to "Discover Restaurants", restaurants_path %>

<% else %>

<h4> Here are all your restaurants </h4>

  <ul>
  <% @user.restaurants.each do |r|%>
    <li><%= link_to "#{r.name}", restaurant_path(r) %></li>

    <% end %>
  <% %>

<%= link_to "Create a new Restaurant", new_restaurant_path %>

<% end %>

</div>