
<div class="container">
<br>
<h3>Hello <%=@user.first_name%>!</h3><br>

<% if !@user.admin? %>

<h4> Here are your upcoming table bookings:</h4>
  <ul>
  <% @user.bookings.each do |b|%>
    <li><%= b.booking_date %></li>
    <li><%= b.booking_time %></li>
    <li><%= b.booking_size %></li>
  <% end %>
</ul>

<%= link_to "Discover Restaurants in the city", restaurants_path %>

<% else %>

<h4> Here are all your restaurants </h4>

  <ul>
  <% @user.restaurants.each do |r|%>
    <li><%= link_to "#{r.name}", restaurant_path(r) %></li>

    <% end %>
  <% %>

<%= link_to "Create a new Restaurant", new_restaurant_path %>

<% end %>

</div>